.course-simulation-container {
  padding: 20px;
  font-family: Arial, sans-serif;
}

.course-simulation .title {
  text-align: center;
  font-size: 24px;
  margin-bottom: 20px;
}

.course-simulation .schedule-table {
  width: 100%;
  border-collapse: collapse;
  text-align: center;
}

.course-simulation .schedule-table th,
.course-simulation .schedule-table td {
  border: 1px solid #ccc;
  padding: 10px;
}

.course-simulation .addcourse-button {
  background-color: #75757557;
  color: white;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  font-size: 16px;
  width: 30px;
  height: 30px;
}
.course-simulation .addcourse-button:hover{
  background-color: #000000;

}
.course-simulation .course-item {
  position: relative;
  padding: 5px;
  color: white;

  border-radius: 5px;
}

.course-simulation .course-item.required {
  background-color: #4c6cd4; /* 必修課程顯示藍色底色 */
}

.course-simulation .remove-course {
  position: absolute;
  top: 5px;
  right: 5px;
  cursor: pointer;
  color: white;
  font-size: 20px;
}

.course-simulation .popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.course-simulation .popup-content {
  background-color: white;
  padding: 30px;
  border-radius: 10px;
  width: 400px;
  max-width: 80%;
  text-align: center;
}

.course-simulation .course-section {
  margin-bottom: 20px;
}

.course-simulation .course-options label {
  display: block;
  margin-bottom: 10px;
}

.course-simulation .actions {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.course-simulation .confirm-button,
.course-simulation .close-button {
  background-color: #4caf50;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
}

.course-simulation .close-button {
  background-color: red;
}

.course-simulation .confirm-button:hover,
.course-simulation .close-button:hover {
  background-color: darkgreen;
}

.course-simulation .close-button:hover {
  background-color: darkred;
}
