.course-simulation-container {
  padding: 20px;
  font-family: Arial, sans-serif;
}

.title {
  text-align: center;
  font-size: 24px;
  margin-bottom: 20px;
}

.schedule-table {
  width: 100%;
  border-collapse: collapse;
  text-align: center;
}

.schedule-table th,
.schedule-table td {
  border: 1px solid #ccc;
  padding: 10px;
}

.add-button {
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  font-size: 16px;
  width: 30px;
  height: 30px;
}

.course-item {
  position: relative;
  padding: 5px;
  color: white;

  border-radius: 5px;
}

.course-item.required {
  background-color: #4c6cd4; /* 必修課程顯示藍色底色 */
}

.remove-course {
  position: absolute;
  top: 5px;
  right: 5px;
  cursor: pointer;
  color: white;
  font-size: 20px;
}

.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.popup-content {
  background-color: white;
  padding: 30px;
  border-radius: 10px;
  width: 400px;
  max-width: 80%;
  text-align: center;
}

.course-section {
  margin-bottom: 20px;
}

.course-options label {
  display: block;
  margin-bottom: 10px;
}

.actions {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.confirm-button,
.close-button {
  background-color: #4caf50;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
}

.close-button {
  background-color: red;
}

.confirm-button:hover,
.close-button:hover {
  background-color: darkgreen;
}

.close-button:hover {
  background-color: darkred;
}
