.favorites-list-container {
    padding: 50px;
    background-color: #f9f9f9;
    text-align: center;
    font-family: Arial, sans-serif;
  
}
.title{
    font-size: 40px;
    margin-bottom: 20px;
    color: #2ab162;
    text-align: left;
    margin-top: 30px;    
  
}

.favorites-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.favorites-table th, .favorites-table td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: center;
}

.favorites-table th {
    background-color: #4CAF50;
    color: white;
}

.remove-button {
    background-color: #f44336;
    color: white;
    border: none;
    padding: 6px 10px;
    cursor: pointer;
    border-radius: 4px;
}

.remove-button:hover {
    background-color: #e53935;
}

.favorites-table td .teacher-name {
    display: inline-block;
    cursor: pointer;
    max-width: 100px; 
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis; 
}

.favorites-table td .teacher-name.expanded {
    max-width: 300px; 
    white-space: normal;
    word-wrap: break-word;
    word-break: break-word; 
}
