.my-following-container {
    padding: 20px;
    font-family: Arial, sans-serif;
  }
  
  .title {
    text-align: left;
    font-size: 35px;
    margin-bottom: 20px;
  }
  
  .following-table {
    width: 100%;
    text-align: right;
    font-size: 24px;
    border-collapse: collapse;
  }

  .following-table th, .following-table td {
    border-bottom: 1px solid #ccc; /* 為每個表格欄位添加下邊框 */
    padding: 10px; /* 你可以根據需要調整內邊距 */
  }
  
  .table-divider {
    border: none;
    border-top: 1px solid #ccc; /* 添加上邊框 */
    margin: 0; /* 消除多餘的上下間距 */
  }
    
  .no-courses-message {
    text-align: center;
    vertical-align: middle;
    font-size: 16px;
    color: #000000;
    height: 100px; /* 根據需求設置高度 */
  }
  