
.help-container {
    margin-top: 50px;   
    max-width: 100%;
    margin: 0 auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
  }
  h1{
    font-size: 40px;
    margin-bottom: 20px;
    color: #2ab162;
    text-align: center;
    margin-top: 60px;    
  

  }
.help-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.header-help-button {
  padding: 8px 16px;
  font-size: 14px;
  color: #fff;
  background-color: #007bff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.header-help-button:hover {
  background-color: #0056b3;
}

.help-buttons {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 20px;
}

.help-button,
.back-button {
  padding: 10px 20px;
  font-size: 16px;
  color: #fff;
  background-color: #007bff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.help-button:hover,
.back-button:hover {
  background-color: #0056b3;
}

.help-content {
  margin-top: 20px;
  text-align: left;
}

.help-content img {
  max-width: 100%;
  height: auto;
  margin: 10px 0;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.help-video {
  margin-top: 20px;
  text-align: center;
}