.statistics-container {
  display: flex;          /* ⭐ 這行很重要！ */
  justify-content: center;
  align-items: center;
  gap: 20px;              /* 卡片的間距 */
  margin-top: 50px;
  text-align: center;
}

.statistics-title {
    text-align: center;
  font-size: 20px;
  margin-bottom: 30px;
  color: #333;
    margin-top: 90px;

}

.statistics-card {
  width: 180px;
  height: 200px;
  font-size: 18px;
  border-radius: 15px;
  border: 2px solid transparent;
  background-color: #eaffea;
  cursor: pointer;
  transition: 0.2s;
      gap: 20px;

}

/* hover 效果 */
.statistics-card:hover {
  background: #c5fdc0;
}
