.personal-info-container {
    max-width: 100%;
    margin: 0 auto;
    margin-top: 10px;
    padding: 40px;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.personaltitle{
    font-size: 50px;
    margin-bottom: 20px;
    color: #2ab162;
    text-align: left;
    margin-top: 30px;  
  
}
h2, h3 {
    margin-bottom: 10px;
    color: #333;
}
.user-info p {
    font-size: 30px;
    text-align: left;

    margin: 5px 0;
}
.personalinfo .form-group { /*不能動名稱*/
    margin-bottom: 20px;
    width: 500px;

}

.form-group label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

.form-group input {
    width: 200px;
    padding: 8px;
    box-sizing: border-box;
}

.submit-button {
    padding: 10px 15px;
    background-color: #4CAF50;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.submit-button:hover {
    background-color: #45a049;
}

.success-message {
    color: green;
    margin-top: 10px;
}

.error-message {
    color: red;
    margin-top: 10px;
}
.edit-password-button {
    padding: 5px 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

.edit-password-button:hover {
    background-color: #0056b3;
}